cache: apt
language: python
sudo: false
addons:
  apt:
    packages:
    - libatlas-dev
    - libatlas-base-dev
    - liblapack-dev
    - gfortran
python:
  - 3.6
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda
  - chmod 755 create_env.sh
install:
  - travis_retry . ./create_env.sh --antspy
  - python --version
  - which python
  - pip --version
  # coveralls requires coverage==4.0.3, recent versions of pytest-cov require coverage>=4.4
  - travis_retry pip install coverage==4.0.3 nose pytest-pep8 pytest-cov==2.5.1 python-coveralls
  - travis_retry python setup.py install
before_script: # configure a headless display to test plot generation
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  - nosetests -v --with-coverage --cover-tests --cover-package=intensity_normalization --ignore-files=intensity_normalization/utilities/robex.py --ignore-files=intensity_normalization/exec/robex.py tests
after_success:
  - coveralls

